.App-logo {
  width: 200px;
  height: 200px;
}

.h1-text {
  position: absolute;
  top: 70px;   
  left: 200px;
  color: rgb(212, 11, 11);
}

.App-header {
  border-bottom: 2px solid #000; 
  padding-bottom: 10px; 
  border-color: rgb(212, 11, 11);
  border-width: 3px;
}

.App-body {
  font-size: 18px;
  margin-top: 50px;
  border-bottom: 2px solid #000; 
  padding-bottom: 300px; 
  border-color: rgb(212, 11, 11);
  border-width: 3px;
}

.App-footer {
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
}